:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
  


#nav-logo {
    width: 80px;
    border: white solid 2px;
    border-radius: 15%;
}

.linebreak {
    border-bottom: rgba(255, 255, 255, 0.87) solid 1px;
}

#instructions {
  font-size: 1.8rem;
  padding: 3px;
  margin-bottom: 10px;
}
